body, html {
  background-color: #fafafa;
  height: 100%;
}

body > section, body > section > div {
  height: 100%;
}

.flex-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-list {
  width: 960px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-item {
  background: tomato;
  padding: 30px;
  width: 350px;
  height: 100px;
  margin: 10px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
